body {
    background-color: #EEE;
}

.card-header {
    padding: .25rem .5rem;
}

.card-header:first-child {
    background-color: #78909c;
}

h1 a {
    font-family: 'Merriweather', serif;
    overflow-wrap:break-word;
}

h2 a {
    font-family: 'Oswald', sans-serif;
}